.footer {
  height: 3rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;

  background-color: #e6ecf0;
  padding: 0 2.4rem;
}

.footer a {
  font-size: 1.2rem;
}

.footer a:hover {
  font-weight: bold;
  text-decoration: none;
}

.attribution {
  display: none;
}

@media only screen and (min-width: 900px) {
  .attribution {
    display: block;
  }
}
