html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, a, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p, a, ol, ul {
  font-size: 1.6rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: currentColor;
  font-weight: bold;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}