nav {
    height: 80px;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2.4rem;
}

.navbarBrand {
    background-color: crimson;
    height: 6rem;
    width: 6rem;
}