.container {
  padding: 2.4rem;
}

.heading {
  font-weight: bold;
}

.alert {
  background-color: rgb(255, 130, 130, 0.6);
  border: 1px solid rgb(194, 0, 0, 0.6);
  font-size: 1.6rem;
  padding: 1.5rem;
  margin-top: -2.5rem;
  margin-bottom: 2.5rem;
  width: 100%;
}

.text {
  font-size: 1.5rem;
  padding: 1rem;
  resize: none;

  height: 10rem;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 80rem;
  }

  .form {
    width: 100%;
  }
}
