.main {
  background-color: #e6ecf0;
  margin-top: 8rem;
  min-height: calc(100vh - 11rem);
}

.container {
  min-height: calc(100vh - 11rem);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
