.aside {
  display: none;
}

.name {
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  width: 20rem;
}

@media only screen and (min-width: 600px) {
  .aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}